@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*====== Base styles =======*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 1.5rem 0 0 0;
	font-family: "Lato", sans-serif;
	background-color: rgb(32, 32, 32);
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

p {
	font-weight: 300;
	color: white;
}

.header__img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.container {
	max-width: 500px;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.setup__header {
	text-align: center;
	margin-bottom: 3rem;
	margin-top: 2rem;
}

.header__tag {
	font-size: 20px;
	color: #fffefd;
	margin-top: 1.5rem;
}

.setup__text {
	text-align: left;
	font-weight: 500;
	line-height: 25px;
}

.setup__picture {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.fullsetup__img {
	width: 100%;
}

.note {
	text-align: center;
	margin-top: 1.5rem;
}

.product__card {
	background-color: rgb(71, 71, 71, 76%);
	border-radius: 12px;
	margin-top: 2rem;
	padding: 0.5rem 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 4px 4px 8px rgb(253, 118, 203, 45%);
}

.product__img {
	width: 15%;
	margin-left: 1rem;
}

.product__name {
	font-size: 15px;
	color: #fffefd;
}

.button {
	padding: 0.5rem 1rem;
	border-radius: 12px;
	margin-right: 1rem;
	background-color: #ffac30;
	color: #fffefd;
	font-weight: 600;
}

.last {
	margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 767px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (min-width: 992px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}
